@use "../../../../shared/scss/global" as *;

main {
  @include flexBox("", right, center, 0);
  height: 100%;
  position: relative;
}

.avatar {
  @include flexBox("", end, center, 20);
  span {
    @include fontStyle(32px, $black, 700);
    white-space: nowrap;
  }
  img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
}

.userStatus{
  position: relative;
  height: 70px;
  width: 70px;
  span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
  }
}

.arrowDownHeight{
  font-size: 38px;
}

.openLogOut {
  @include flexBox("", right, center, "");
  border: none;
  padding-inline: 0;
  padding-block: 0;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $main1;
}

.arrowDown{
  height: 32px;
  width: 32px;
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  transition: all 222ms ease-in;
}

.openLogOut:hover .arrowDown{
  color: $accent;
  background-color: $white;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.logOut {
  @include flexBox(column, center, center, 8);
  top: 76px;
  right: 55px;
  position: absolute;
  background-color: $white;
  border-radius: 20px 0 20px 20px;
  padding: 14px;
  z-index: 15;
  button {
    all: unset;
    @include fontStyle(24px, $black, 600);
    @include flexBox("", center, center, 15);
    background-color: $white;
    padding: 12px 28px;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: $main1;
      color: $accent;
    }
    span{
      width: 80px;
    }
  }
}



@media(max-width: 1200px){
  .avatarNameText{
    display: none;
  }
  .avatar{
    width: 70px;
  }
  main{
    width: 120px;
  }
}

@media(max-width: 1000px){
  .openLogOut {
    display: none;
  }
  .userStatus img {
    cursor: pointer;
    transition: all 222ms ease-in-out;
    &:hover {
      transform: scale(1.08);
    }
  }
  .normalImage {
    display: none
  }
  .normalImagePoint {
    display: none
  }
  .logOut {
    @include flexBox("", center, start, "");
    bottom: 0;
    top: unset;
    right: unset;
    left: unset;
    border-radius: 0;
    padding: 0;
    padding-bottom: 60px;
  }
  .popUpXLine {
    background-color: $grey;
    width: 60px;
    height: 6px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .popUpStyle {
    height: 210px;
    background-color: $white;
    position: absolute;
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    bottom: 0px;
    animation: slideUpFromBottom 444ms ease-in forwards;
    @include flexBox("", center, flex-start, "8");
  }
  .slide-down {
    animation: slideDownToBottom 777ms ease-out forwards;
  } 
}


@media(max-width: 600px) {
  main{
    width: 70px;
  }
}


@media(max-width: 450px) {
  main{
    width: 60px;
  }
  .avatar img, .userStatus
  {
    height: 60px;
    width: 60px;
  }
}
