@use "../../../shared/scss/mixins" as mixin;
@use "../../../shared/scss/variables" as vari;

:host {
  display: inline-block;

  &.full-width-host {
    display: block;
    width: 100%;
  }
}

button {
  @include mixin.dFlex($gap: clamp(10px, 2.5vw, 20px));
  font-size: clamp(16px, 2.5vw, 18px);
  padding: clamp(10px, 2.5vw, 12px) clamp(18px, 2.5vw, 25px);
  border: 1px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-blue {
  @include mixin.btnColor($bg-color: vari.$accent, $bor-color: vari.$accent, $text-color: vari.$white);

  &:hover:not(:disabled) {
    @include mixin.btnColor($bg-color: vari.$main2, $bor-color: vari.$main2, $text-color: vari.$white);
  }

  &:active:not(:disabled) {
    @include mixin.btnColor($bg-color: vari.$accent, $bor-color: vari.$accent, $text-color: vari.$white);
  }

  &:disabled {
    @include mixin.btnColor($bg-color: vari.$grey, $bor-color: vari.$grey, $text-color: vari.$white);
  }
}

.btn-white {
  @include mixin.btnColor($bg-color: transparent, $bor-color: vari.$main2, $text-color: vari.$accent);

  &:hover:not(:disabled) {
    @include mixin.btnColor($bg-color: vari.$accent, $bor-color: vari.$accent, $text-color: vari.$white);
  }

  &:active:not(:disabled) {
    @include mixin.btnColor($bg-color: vari.$accent, $bor-color: vari.$accent, $text-color: vari.$white);
  }

  &:disabled {
    @include mixin.btnColor($bg-color: transparent, $bor-color: vari.$grey, $text-color: vari.$grey);
  }
}

.btn-gray {
  @include mixin.btnColor($bg-color: vari.$main1, $bor-color: vari.$main1, $text-color: vari.$accent);
  width: 100%;

  &:hover:not(:disabled) {
    border-color: vari.$accent;
  }

  &:active:not(:disabled) {
    border-color: vari.$grey;
  }

  &:disabled {
    border-color: vari.$grey;
    color: vari.$grey;
  }
}

.btn-transparent {
  padding: 10px 15px;
  @include mixin.btnColor($bg-color: transparent, $bor-color: transparent, $text-color: vari.$main2);

  &:hover:not(:disabled) {
    @include mixin.btnColor($bg-color: transparent, $bor-color: vari.$main1, $text-color: vari.$accent);
  }

  &:disabled {
    color: vari.$grey;
  }
}

.btn-sky-grey {
  padding: 5px 15px;
  @include mixin.btnColor($bg-color: transparent, $bor-color: transparent, $text-color: vari.$main2);

  &:hover:not(:disabled) {
    @include mixin.btnColor($bg-color: vari.$main1, $bor-color: transparent, $text-color: vari.$accent);
  }

  &:disabled {
    color: vari.$grey;
  }
}
