@use "../../../shared/scss/variables" as vari;
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: vari.$white;
  border-radius: 30px;
  padding: 45px 40px;
  width: min(90%, 480px);
  text-align: center;

  h2 {
    margin-bottom: 32px;
    font-size: 22px;
  }

  .button-row {
    display: flex;
    gap: 24px;
    justify-content: center;

    .btn {
      cursor: pointer;
      min-width: 100px;
      padding: 10px 0;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      border: none;
      border-radius: 30px;
      &:hover {
        font-weight: 700;
        transition: all 0.1s ease-in-out;
      }
    }

    .cancel {
      background: vari.$white;
      color: vari.$grey;
      border: 1px solid vari.$grey;
      transition: 222ms ease-in-out;
      &:hover {
        background: vari.$main1;
        color: vari.$accent;
        border: 1px solid vari.$main2;
        transform: scale(1.07);
      }
    }
    .confirm {
      background: oklch(from #{vari.$warn} calc(l - 0.02) calc(c + 0.03) h / 0.8);
      color: vari.$white;
      transition: 222ms ease-in-out;
      &:hover {
        background: oklch(from #{vari.$warn} calc(l - 0.09) calc(c + 0.04) h);
        transform: scale(1.07);
      }
    }
  }
}
